<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/index.css" />
	</head>

	<body>
		<h3>用户新增</h3>
		<div id="app1">
			<el-form :model="AddUser" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
				<div>
					<el-input placeholder="请输入客户编号" v-model="AddUser.clientno">
						<template slot="prepend">*客户编号</template>
					</el-input>
				</div>
				<div>
					<el-input placeholder="请输入客户名称" v-model="AddUser.cliname">
						<template slot="prepend">*客户名称</template>
					</el-input>
				</div>
				<div>
					<el-input placeholder="请输入手机号码" v-model="AddUser.cliphone">
						<template slot="prepend">*手机号码</template>
					</el-input>
				</div>
				<div>
					<el-input placeholder="请输入用户地址" v-model="AddUser.cliaddress">
						<template slot="prepend">*用户地址</template>
					</el-input>
				</div>
				<div>
					<label>*接待人员</label>
					<el-select v-model="ConnectionPerson" placeholder="请选择接待人员">
						<el-option v-for="item in ConnectionPerson" :key="item.employeeid" :label="item.ename" :value="item.value">
						</el-option>
					</el-select>
				</div>
				<div>
					<el-input placeholder="请输入用户级别" v-model="AddUser.mid">
						<template slot="prepend">*用户级别</template>
					</el-input>
				</div>
				<div>
					<el-input placeholder="请输入注册地址" v-model="AddUser.sfz">
						<template slot="prepend">*注册地址</template>
					</el-input>
				</div>
				<div>
					<el-input placeholder="请输入用户备注" v-model="AddUser.khbz">
						<template>*用户备注</template>
					</el-input>
				</div>

				<el-button type="primary" @click="cancel()">取消</el-button>
				<el-button type="primary" @click="ensure()">确定</el-button>
			</el-form>
		</div>
	</body>

	<script type="text/javascript" src="js/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/axios.min.js"></script>
	<script type="text/javascript" src="js/axios_cfg.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<script>
		var app1 = new Vue({
			el: "#app1",
			data: {
				ConnectionPerson:{},
				options: [{
					value: '选项1',
					label: '黄金糕'
				}, {
					value: '选项2',
					label: '双皮奶'
				}, {
					value: '选项3',
					label: '蚵仔煎'
				}, {
					value: '选项4',
					label: '龙须面'
				}, {
					value: '选项5',
					label: '北京烤鸭'
				}],
				value: '',

				input1: "",
				AddUser: {
					clientno: "",
					cliname: "",
					cliphone: "",
					cliaddress: "",
					employeeid: "",
					mid: "",
					sfz: "",
					khbz: ""
				},
				rules: {
					clientno: [{
							required: true,
							message: '请输入客户编号',
							trigger: 'blur'
						},
						{
							min: 3,
							max: 5,
							message: '长度在 3 到 5 个字符',
							trigger: 'blur'
						}
					],
					cliname: [{
						required: true,
						message: '请选择客户名称',
						trigger: 'change'
					}],
					cliphone: [{
						type: 'String',
						required: true,
						message: '请选择客户电话号码',
						trigger: 'change'
					}],
					cliaddress: [{
						type: 'String',
						required: true,
						message: '请选择客户地址',
						trigger: 'change'
					}],
					employeeid: [{
						type: 'array',
						required: true,
						message: '请至少选择一个接待人员',
						trigger: 'change'
					}],
					mid: [{
						required: true,
						message: '请填写客户等级',
						trigger: 'change'
					}],
					sfz: [{
						required: true,
						message: '请填写客户信息',
						trigger: 'blur'
					}],
					khbz: [{
						required: true,
						message: '请填写客户备注',
						trigger: 'blur'
					}]
				}

			},
			mounted(){
				this.queryConnection();
			},
			methods: {
				queryConnection(){
					let _this=this;
					axios.post(`http://127.0.0.1:8080/DZWWeb/nj/api/NJEmployeeAction/queryAll`)
						.then(function(resp){
							_this.ConnectionPerson=resp.data;
						});
					
				},
				cancel() {
					this.$alert('您正在执行返回操作', '执行返回', {
						confirmButtonText: '确定',
						callback: action => {
							this.$message({
								type: 'info',
								message: `action: ${ action }`
							});
						}
					});
				},
				ensure() {
					let _this = this;
					axios.post(`http://127.0.0.1:8080/DZWWeb/nj/api/NjClientAction/insert`, this.AddUser).then(resp => {
						if(resp.data == true) {
							this.$message({
								message: "新增用户成功",
								type: 'success'
							});
						}
					})
				}

			}

		});
	</script>

</html>