<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>竣工检验</title>
		<style>
			.text {
				font-size: 14px;
			}
			
			.clearfix:before,
			.clearfix:after {
				display: table;
				content: "";
			}
			
			.clearfix:after {
				clear: both
			}
			
			.box-card {
				width: 100%;
			}
			
			.el-table-column {
				text-align: center;
			}
		</style>
	</head>

	<body>
		<div id="zlyJGJY">
			<el-card class="box-card">
				<div slot="header" class="clearfix">
					<el-col :span="4">
						竣工检验
					</el-col>
					<el-col :span="5" :offset="7">
						<template>
							<el-select v-model="statusid" value-key="statusid" placeholder="请选择维修单状态">
								<el-option v-for="item in Status" :key="item.statusid" :label="item.statusname" :value="item.statusid">
								</el-option>
							</el-select>
						</template>
					</el-col>
					<el-col :span="5">
						<el-input v-model="cno" placeholder="请输入车牌号"></el-input>
					</el-col>
					<el-col :span="2" style="margin-left: 10px;">
						<el-button @click="selectAllByCnoAndStatusid">搜索</el-button>
					</el-col>
				</div>
				<el-row>
					<template>
						<el-tabs v-model="activeName1">
							<el-tab-pane label="维修单" name="first"></el-tab-pane>
						</el-tabs>
					</template>
				</el-row>
				<el-row>
					<template>
						<el-table :data="Inststion" @row-click="handdleInststion" stripe style="width: 100%">
							<el-table-column prop="inid" label="维修单号" width="180">
							</el-table-column>
							<el-table-column prop="cno" label="车牌号" width="180">
							</el-table-column>
							<el-table-column prop="zrr" label="驾驶人" width="100">
							</el-table-column>
							<el-table-column prop="jcday" label="进厂日期" width="180">
							</el-table-column>
							<el-table-column prop="jdate" label="救援日期" width="180">
							</el-table-column>
							<el-table-column prop="workcardesc.wid" label="救援车辆" width="100">
							</el-table-column>
							<el-table-column prop="iszn == 1 ? 站内维修 : 站外维修" label="业务类型" width="100">
							</el-table-column>
							<el-table-column prop="iszn == 1 ? 站内维修 : 站外维修" label="维修状态" width="100">
							</el-table-column>
							<el-table-column prop="yjday" label="预计完工" width="180">
							</el-table-column>
							<el-table-column fixed="right" label="操作" width="150">
								<template slot-scope="scope">
									<el-button v-if="scope.row.statusid == 18" @click="shoowJGJY(scope.row)" type="primary">竣工检验</el-button>
								</template>
							</el-table-column>
						</el-table>
						<el-pagination background layout="prev, pager, next" :current-page="currentPage" :page-size="pagesize" :total="Inststion.length" @size-change="handleSizeChange" @current-change="handleCurrentChange">
						</el-pagination>
					</template>
				</el-row>
				<el-row>
					<template>
						<el-tabs v-model="activeName1">
							<el-tab-pane label="维修详情" name="first"></el-tab-pane>
						</el-tabs>
					</template>
				</el-row>
				<el-row>
					<template>
						<el-table :data="Wxxq" stripe style="width: 100%">
							<el-table-column type="index" label="序号">
							</el-table-column>
							<el-table-column prop="xqname" label="项目名称">
							</el-table-column>
							<el-table-column prop="xqsl" label="数量">
							</el-table-column>
							<el-table-column prop="xmoney" label="单价">
							</el-table-column>
							<el-table-column prop="column1" label="总价">
							</el-table-column>
						</el-table>
					</template>
				</el-row>
				<el-row>
					<el-dialog title="竣工检验" @open="selectAllByItemstype" :visible.sync="dialogVisible" width="60%" :before-close="handleClose">
						<div>
							<el-row>
								<el-col :span="5">
									<template>
										<el-radio-group @change="showJGJYinput" v-model="jgjy" size="small">
											<el-radio-button label="1">竣工</el-radio-button>
											<el-radio-button label="2">返工</el-radio-button>
										</el-radio-group>
									</template>
								</el-col>
							</el-row>
							<el-row style="margin-top: 15px;">
								<el-form  label-width="80px">
									<el-col :span="7">
										<el-form-item label="技班工薪">
											<el-input :disabled="true" v-model="Inststion1.itemsid"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="7">
										<el-form-item label="救援价格">
											<el-input :disabled="true" v-model="Workcardesc.column1"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="7">
										<el-form-item label="项目价格">
											<el-input :disabled="true" v-model="Inststion1.jyjg"></el-input>
										</el-form-item>
									</el-col>									
								</el-form>								
							</el-row>
							<el-row v-show="showJGJYinputIsTrue1" style="margin-top: 15px;">
								<el-col :span="5">
									<template>
										<el-input v-model="wugongtype.column1" :disabled="true" placeholder="罚款/元"></el-input>
									</template>
								</el-col>
								<el-col :span="6">
									<el-form label-width="80px">
										<el-form-item label="返工类型">
											<el-select v-model="wugongtype" value-key="wugongtypeid" @change="changeWG" placeholder="请选择返工类型">
												<el-option v-for="(item,i) in Wugongtype" :key="item.wugongtypeid" :label="item.wugongtypename" :value="item"></el-option>
											</el-select>
										</el-form-item>
									</el-form>
								</el-col>
								<el-col :span="9">
									<el-form label-width="80px" size="mini">
										<el-form-item label="备注">
											<el-input type="textarea" v-model="Fangong.fdesc" placeholder="请输入备注"></el-input>
										</el-form-item>
									</el-form>
								</el-col>
							</el-row>
							<el-row v-show="showJGJYinputIsTrue2">
								<el-row>
									<template>
										<el-tabs v-model="activeName1">
											<el-tab-pane label="新增维修项" name="first"></el-tab-pane>
										</el-tabs>
									</template>
								</el-row>
								<el-row>
									<el-form ref="form" label-width="80px" size="mini">
										<el-form-item label="维修类型">
											<el-select v-model="Items" value-key="itemstypeid" placeholder="请选择项目类型">
												<el-option v-for="(itemstype,i) in Itemstype" :key="itemstype.itemstypeid" :label="itemstype.itemstypename" :value="itemstype.items">
												</el-option>
											</el-select>
										</el-form-item>
									</el-form>
								</el-row>
								<el-row>
									<template>
										<el-table :data="Items" ref="multipleTable" :row-key="(row) => row.itemsid" @selection-change="handleSelectionChange" stripe style="width: 100%; height=250;">
											<el-table-column type="index" label="序号" width="50">
											</el-table-column>
											<el-table-column prop="itemsname" label="维修项目">
											</el-table-column>
											<el-table-column prop="itemsprice" label="价格">
											</el-table-column>
											<el-table-column prop="itemstime" label="维修时间">
											</el-table-column>
											<el-table-column prop="itemsxh" label="项目介绍">
											</el-table-column>
											<el-table-column type="selection" :reserve-selection="true">
											</el-table-column>
										</el-table>
									</template>
								</el-row>
								<el-row>
									<el-row>
										<template>
											<el-tabs v-model="activeName">
												<el-tab-pane label="新维修项目" name="first"></el-tab-pane>
											</el-tabs>
										</template>
									</el-row>
									<el-row v-show="isShow1">
										<template>
											<el-table :data="Wxxq1" stripe style="width: 100%; height=250;">
												<el-table-column type="index" label="序号">
												</el-table-column>
												<el-table-column prop="xqname" label="维修项目">
												</el-table-column>
												<el-table-column label="数量">
													<template slot-scope="scope">
														<el-input-number v-model="scope.row.xqsl" @change="handleChange(scope.row)" :min="1" :max="10" label="描述文字"></el-input-number>
													</template>
												</el-table-column>
												<el-table-column prop="column1" label="价格">
												</el-table-column>
												<el-table-column label="操作">
													<template slot-scope="scope">
														<el-button size="mini" type="danger" icon="el-icon-delete" @click="deleteWxxqs(scope.$index)" circle></el-button>
													</template>
												</el-table-column>
											</el-table>
										</template>
									</el-row>
								</el-row>
							</el-row>
						</div>
						<span slot="footer" class="dialog-footer">
   							 <el-button @click="dialogVisible = false">取 消</el-button>
   							 <el-button type="primary" @click="updateInststion">确 定</el-button>
  						</span>
					</el-dialog>
				</el-row>
			</el-card>
		</div>
	</body>
	<script>
		var zlyJGJY = new Vue({
			el: "#zlyJGJY",
			data: {
				//维修单
				Inststion1: {
					itemsid: "",
					jyjg: "",					
				},
				//返工记录
				Fangong: {
					fdesc: ""
				},
				//返工信息的显示隐藏1
				showJGJYinputIsTrue1: false,
				//返工信息的显示隐藏2
				showJGJYinputIsTrue2: false,
				//误工id
				wugongtype: {},
				messages: "",
				//竣工检验
				jgjy: 1,
				//模态框显示隐藏
				dialogVisible: false,
				isShow1: true,
				activeName: "first",
				activeName1: "first",
				//  el-pagination 初始页
				currentPage: 1,
				//  el-pagination 每页的数据
				pagesize: 5,
				//车牌
				cno: "",
				//状态
				statusid: "",
				//状态
				Status: [],
				//维修单
				Inststion: [],
				//维修详情
				Wxxq: [],
				//救援记录
				Workcardesc: {},
				//维修项目类型
				Itemstype: [],
				//维修项目
				Items: [],
				//新增维修详情
				Wxxq1: [],
				//需要取消的维修项目
				Items1: [],
				//返工类型
				Wugongtype: [],
				messages: []
			},
			mounted() {
				this.selectAllByType();
				this.selectAllByCnoAndStatusid();
			},
			methods: {
				// 张来遇写的根据状态类型查询不同的状态集合改了StatusMapper.xml文件
				selectAllByType() {
						let _this = this;
						axios.get(`http://127.0.0.1:8080/DZWWeb/zly/api/StatusAction/selectAllByType/7`).then(function(resp) {
							_this.Status = resp.data;
						});
					},
					//张来遇写的根据维修状态和车牌号查询所有维修单与维修详情和救援记录改了Inststion.java文件和InststionMapper.xml文件
					selectAllByCnoAndStatusid() {
						let _this = this;
						axios.post(`http://127.0.0.1:8080/DZWWeb/zly/api/InststionAction/selectAllByCnoAndStatusid`, {
							cno: _this.cno,
							statusid: _this.statusid,
							type: 7
						}).then(function(resp) {
							_this.Inststion = resp.data;
						});
					},
					//查询所有维修项目类型
					selectAllByItemstype() {
						//this.Items=null;
						this.selectAllByWugongtype();
						let _this = this;
						axios.get(`http://127.0.0.1:8080/DZWWeb/lp/api/ItemstypeAction/selectAll`).then(function(resp) {
							_this.Itemstype = resp.data;
						});
					},
					//查询所有返工类型
					selectAllByWugongtype() {
						let _this = this;
						axios.get(`http://127.0.0.1:8080/DZWWeb/zly/api/FangongAction/selectAllByWugongtype`).then(function(resp) {
							_this.Wugongtype = resp.data;
						});
					},
					//新增维修详情
					insertWxxq() {
						axios.post(`http://127.0.0.1:8080/DZWWeb/zly/api/WxxqAction`, this.Wxxq1).then(function(resp) {});
					},
					//新增返工记录
					insertFangong() {
						this.Fangong = {
							inid: this.Inststion1.inid,
							wugongtypeid: this.wugongtype.wugongtypeid,
							fprice: this.wugongtype.column1
						}
						axios.post(`http://127.0.0.1:8080/DZWWeb/zly/api/FangongAction`, this.Fangong).then(function(resp) {});
					},
					//修改技班,车辆,救援车辆,状态
					updateTeam() {
						console.log(this.Inststion1);
						var team = {
							tid: this.Inststion1.tid,
							type: "11"
						};
						var Workcar = {
							wid: this.Inststion1.workcarjlid,
							statusid: 13
						};
						var Clientcar = {
							cno: this.Inststion1.cno,
							column1: 24
						};
						axios.put(`http://127.0.0.1:8080/DZWWeb/zly/api/WorkcarAction`, Workcar).then(function(resp) {});
						axios.put(`http://127.0.0.1:8080/DZWWeb/ljy/api/TeamAction`, team).then(function(resp) {});
						axios.put(`http://127.0.0.1:8080/DZWWeb/nj/api/NjClientcarAction/update`, Clientcar).then(function(resp) {});
					},
					//修改维修单状态
					updateInststion() {
						var message = "";
						if (this.jgjy == "1") {
							this.Inststion1.statusid = 4;
							messages = "竣工成功!";
							this.updateTeam();
						} else {
							this.Inststion1.statusid = 17;
							messages = "返工成功!";
							this.insertFangong();
							if (this.wugongtype.wugongtypeid == "3") {
								//计算维修项目总金额
								this.Wxxq1.forEach((item, i) => {
									//Inststion.jyjg:救援价格改为维修项目金额总价
									this.Inststion1.jyjg += parseFloat(item.column1);
									item.inid = this.Inststion1.inid;
								});
								this.insertWxxq();
							}
						}
						let _this = this;
						axios.put(`http://127.0.0.1:8080/DZWWeb/zly/api/InststionAction`, this.Inststion1).then(function(resp) {
							if (resp.data.code == "200") {
								_this.$message({
									showClose: true,
									message: messages,
									type: 'success'
								});
								_this.selectAllByCnoAndStatusid();
							}
						});
						this.dialogVisible = false;
					},
					//维修详情删除事件
					deleteWxxqs(index) {
						let _this = this;
						this.$nextTick(() => {
							this.$refs.multipleTable.toggleRowSelection(_this.Items1[index], false);
						});
					},
					//显示竣工检验模态框
					shoowJGJY(Inststion) {
						this.Inststion1 = Inststion;
						this.Workcardesc=this.Inststion1.workcardesc;						
						this.dialogVisible = true;
					},
					//关闭模态框
					handleClose(done) {
						this.$confirm('确认关闭？')
							.then(_ => {
								done();
							})
							.catch(_ => {});
					},
					//进攻返工信息的显示隐藏
					showJGJYinput() {
						if (this.jgjy == "1") {
							this.showJGJYinputIsTrue1 = false;
							this.showJGJYinputIsTrue2 = false;
						}
						if (this.jgjy == "2") {
							this.showJGJYinputIsTrue1 = true;
						}
					},
					//误工类型选择改变事件
					changeWG() {
						if (this.wugongtype.wugongtypeid == "1") {
							this.showJGJYinputIsTrue2 = false;
						}
						if (this.wugongtype.wugongtypeid == "2") {
							this.showJGJYinputIsTrue2 = false;
						}
						if (this.wugongtype.wugongtypeid == "3") {
							this.showJGJYinputIsTrue2 = true;
						}
					},
					//复选框勾选事件
					handleSelectionChange(val) {
						this.Wxxq1 = [];
						this.Items1 = [];
						let _this = this;
						val.forEach((item, i) => {
							//维修详情对象							
							var Wxxq = {};
							Wxxq["inid"] = "";
							Wxxq["spid"] = item.itemsid;
							Wxxq["xqname"] = item.itemsname;
							Wxxq["xqsl"] = this.Wxxq1[i] == null ? 1 : this.Wxxq1[i].xqsl;
							Wxxq["xmoney"] = item.itemsprice;
							Wxxq["column1"] = this.Wxxq1[i] == null ? item.itemsprice : this.Wxxq1[i].column1;
							_this.Wxxq1.push(Wxxq);
							_this.Items1.push(item);
						});
					},
					//数量改变事件
					handleChange(row) {
						row.column1 = row.xqsl * row.xmoney;
					},
					handleSizeChange: function(size) {
						this.pagesize = size;
					},
					handleCurrentChange: function(currentPage) {
						this.currentPage = currentPage;
					},
					//表格双击改变详情方法
					handdleInststion(row) {
						this.Wxxq = row.wxxq;
					}
			}
		});
	</script>

</html>