<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<!--<link rel="stylesheet" href="../../css/index.css" />-->
	</head>
	<style>

	</style>

	<body>
		<div id="a">
			<el-row>
				<el-form ref="form" label-width="80px" size="mini">
					<el-form-item label="岗位">
						<el-select v-model="p" @change="setCheckedKeys" value-key="positionid" placeholder="请选择项目类型">
							<el-option v-for="(Position,i) in Position" :key="Position.positionid" :label="Position.positionname" :value="Position">
							</el-option>
						</el-select>
					</el-form-item>
				</el-form>
			</el-row>
			<el-tree :data="functions" show-checkbox default-expand-all node-key="fid" ref="tree" highlight-current :props="defaultProps">
			</el-tree>

			<div class="buttons">
				<!--<el-button @click="getCheckedNodes">通过 node 获取</el-button>-->
				<el-button @click="getCheckedKeys">通过 key 获取</el-button>
				<!--<el-button @click="setCheckedNodes">通过 node 设置</el-button>
				<el-button @click="setCheckedKeys">通过 key 设置</el-button>-->
				<el-button @click="resetChecked">清空</el-button>
			</div>
		</div>
	</body>
	<!--	<script type="text/javascript" src="../../js/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="../../js/vue.js"></script>
	<script type="text/javascript" src="../../js/axios.min.js"></script>
	<script type="text/javascript" src="../../js/axios_cfg.js"></script>

	<script type="text/javascript" src="../../js/index.js"></script>-->
	<script>
		var a = new Vue({
			el: "#a",
			data: {
				Authority: [],
				p: {},
				Position: [],
				functions: [],
				defaultProps: {
					children: 'functionFater',
					label: 'fname'
				}
			},
			methods: {
				getCheckedNodes() {
						console.log(this.$refs.tree.getCheckedNodes());
					},
					getCheckedKeys() {
						var Authority = [];
						this.$refs.tree.getCheckedKeys().forEach((item, i) => {
							var authority = {
								positionid: this.p.positionid,
								functionid: item
							}
							Authority.push(authority);
						});
						console.log(Authority);
						let _this = this;
						axios.post("http://127.0.0.1:8080/DZWWeb//zly/api/FunctionAction", Authority).then(function(resp) {
							_this.$message({
								showClose: true,
								message: '授权成功!',
								type: 'success'
							});
						}).catch(function(e) {
							console.info(e);
						});
					},
					setCheckedNodes() {
						this.$refs.tree.setCheckedNodes([{
							id: 5,
							label: '二级 2-1'
						}, {
							id: 9,
							label: '三级 1-1-1'
						}]);
					},
					setCheckedKeys() {
						this.Authority = [];
						let _this = this;
						this.p.authority.forEach((item, i) => {
							_this.Authority.push(item.functionid);
						});
						this.$refs.tree.setCheckedKeys(this.Authority);
					},
					resetChecked() {
						this.$refs.tree.setCheckedKeys([]);
					},
					s() {
						let _this = this;
						axios.get("http://127.0.0.1:8080/DZWWeb//qj/api/QjPositionAction").then(function(resp) {
							_this.Position = resp.data;
						}).catch(function(e) {
							console.info(e);
						});
					}
			},
			mounted() {
				let _this = this;
				axios.get("http://127.0.0.1:8080/DZWWeb//zly/api/FunctionAction").then(function(resp) {
					_this.functions = resp.data;
				}).catch(function(e) {
					console.info(e);
				});
				this.s();
			}
		});
	</script>

</html>