<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>站内维修</title>
		<style>
			.text {
				font-size: 14px;
			}
			
			.clearfix:before,
			.clearfix:after {
				display: table;
				content: "";
			}
			
			.clearfix:after {
				clear: both
			}
			
			.box-card {
				width: 100%;
			}
			
			.el-table-column {
				text-align: center;
			}
		</style>
	</head>

	<body>
		<div id="zlyZNWX">
			<el-card class="box-card">
				<div slot="header" class="clearfix">
					<el-col :span="3">
						维修接车
					</el-col>
					<el-col :span="5" :offset="15">
						<template>
							<el-select v-model="value1" multiple placeholder="请选择接车方式">
								<el-option v-for="item in messages" :key="item.value" :label="站内接车" :value="item.value">
								</el-option>
							</el-select>
						</template>
					</el-col>
				</div>
				<el-row>
					<el-col :span="10" style="margin-left: 10px;">
						<el-form ref="form" :model="sizeForm" label-width="80px" size="mini">
							<el-form-item label="车牌号">
								<el-input v-model="sizeForm.name"></el-input>
							</el-form-item>
							<el-form-item label="技班">
								<el-select v-model="sizeForm.region" placeholder="请选择驾驶人">
									<el-option label="区域一" value="shanghai"></el-option>
									<el-option label="区域二" value="beijing"></el-option>
								</el-select>
							</el-form-item>
							<el-row>
								<el-col :span="12">
									<el-form-item label="驾驶人">
										<el-input v-model="sizeForm.name" placeholder="请输入驾驶人"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="12">
									<el-form-item label="质检员">
										<el-select v-model="sizeForm.region" placeholder="请选择质检员">
											<el-option label="区域一" value="shanghai"></el-option>
											<el-option label="区域二" value="beijing"></el-option>
										</el-select>
								</el-col>
							</el-row>
							<el-form-item label="预计完工">
								<el-date-picker v-model="value1" type="date" placeholder="选择日期">
								</el-date-picker>
							</el-form-item>
							<el-form-item label="备注">
								<el-input type="textarea" v-model="sizeForm.name" placeholder="请输入备注"></el-input>
							</el-form-item>
							<el-form-item size="large">
								<el-button type="success" @click="dialogVisible = true">添加维修项</el-button>
								<el-button type="primary" @click="">立即创建</el-button>
								<el-button>取消</el-button>
							</el-form-item>
						</el-form>
					</el-col>
				</el-row>
				<el-row>
					<el-dialog title="添加维修项" :visible.sync="dialogVisible" width="60%" :before-close="handleClose">
						<div>
							<el-form ref="form" :model="sizeForm" label-width="80px" size="mini">
								<el-form-item label="项目类型">
									<el-select v-model="sizeForm.region" placeholder="请选择驾驶人">
										<el-option label="区域一" value="shanghai"></el-option>
										<el-option label="区域二" value="beijing"></el-option>
									</el-select>
								</el-form-item>
							</el-form>
							<template>
								<el-table :data="messages" stripe style="width: 100%; height=250;">
									<el-table-column prop="message" label="日期1" width="180">
									</el-table-column>
									<el-table-column prop="message" label="姓名1" width="180">
									</el-table-column>
									<el-table-column prop="message" label="地址1">
									</el-table-column>
								</el-table>
							</template>
						</div>
						<span slot="footer" class="dialog-footer">
   							 <el-button @click="dialogVisible = false">取 消</el-button>
   							 <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
  						</span>
					</el-dialog>
				</el-row>
				<el-row>
					<template>
						<el-tabs v-model="activeName">
							<el-tab-pane label="维修项目" name="first"></el-tab-pane>
						</el-tabs>
					</template>
				</el-row>
				<el-row v-show="isShow1">
					<template>
						<el-table :data="messages" stripe style="width: 100%; height=250;">
							<el-table-column prop="message" label="日期" width="180">
							</el-table-column>
							<el-table-column prop="message" label="姓名" width="180">
							</el-table-column>
							<el-table-column prop="message" label="地址">
							</el-table-column>
						</el-table>
					</template>
				</el-row>
				<el-row v-show="isShow2">
					<template>
						<el-table :data="messages" stripe style="width: 100%; height=250;">
							<el-table-column prop="message" label="日期1" width="180">
							</el-table-column>
							<el-table-column prop="message" label="姓名1" width="180">
							</el-table-column>
							<el-table-column prop="message" label="地址1">
							</el-table-column>
						</el-table>
					</template>
				</el-row>
			</el-card>
		</div>
	</body>
	<script>
		var zlyZNWX = new Vue({
			el: "#zlyZNWX",
			data: {
				loading: true,
				dialogVisible: false,
				sizeForm: {
					name: '',
					region: '',
					date1: '',
					date2: '',
					delivery: false,
					type: [],
					resource: '',
					desc: ''
				},
				message: "",
				isShow1: false,
				isShow2: true,
				activeName: "first",
				messages: []
			},
			methods: {
				//关闭模态框
				handleClose(done) {
					this.$confirm('确认关闭？')
						.then(_ => {
							done();
						})
						.catch(_ => {});
				}
			}
		});
	</script>

</html>