<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>站内维修</title>
		<style>
			.text {
				font-size: 14px;
			}
			
			.clearfix:before,
			.clearfix:after {
				display: table;
				content: "";
			}
			
			.clearfix:after {
				clear: both
			}
			
			.box-card {
				width: 100%;
			}
			
			.el-table-column {
				text-align: center;
			}
		</style>
	</head>

	<body>
		<div id="zlyZNWX">
			<el-card class="box-card">
				<div slot="header" class="clearfix">
					<el-col :span="3">
						维修接车
					</el-col>
					<el-col :span="5" :offset="16">
						<template>
							<el-radio-group @change="showZWWXinput" v-model="Inststion.iszn" size="small">
								<el-radio-button label="1">站内接车</el-radio-button>
								<el-radio-button label="2">站外接车</el-radio-button>
							</el-radio-group>
						</template>
					</el-col>
				</div>
				<el-row>
					<el-col :span="10" style="margin-left: 10px;">
						<el-form ref="form" :rules="rules" :model="Inststion" label-width="80px" size="mini">
							<el-row>
								<el-col :span="12">
									<el-form-item label="维修编号">
										<el-input :disabled="true" v-model="Inststion.inid"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="12">
									<el-form-item label="车牌号" prop="cno">
										<el-input v-model="Inststion.cno"></el-input>
									</el-form-item>
								</el-col>
							</el-row>
							<el-row>
								<el-col :span="12">
									<el-form-item label="技班" prop="tid">
										<el-select v-model="team" value-key="tid" @change="changeMoney" placeholder="请选择技班">
											<el-option v-for="(team,i) in Team" :key="team.tid" :label="team.tname" :value="team">
											</el-option>
										</el-select>
									</el-form-item>
								</el-col>
								<el-col :span="12">
									<el-form-item label="工薪/小时" prop="">
										<el-input :disabled="true" v-model="Inststion.itemsid"></el-input>
									</el-form-item>
								</el-col>
							</el-row>
							<el-row>
								<el-col :span="12">
									<el-form-item label="驾驶人" prop="zrr">
										<el-input v-model="Inststion.zrr" placeholder="请输入驾驶人"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="12">
									<el-form-item label="质检员" prop="zjy">
										<el-select v-model="Inststion.zjy" placeholder="请选择质检员">
											<el-option label="张来遇" value="1"></el-option>
											<el-option label="李金宇" value="2"></el-option>
										</el-select>
								</el-col>
							</el-row>
							<el-form-item label="预计完工" prop="yjday">
								<el-date-picker v-model="Inststion.yjday" type="date" placeholder="选择日期">
								</el-date-picker>
							</el-form-item>
							<el-row v-show="isShow1">
								<el-col :span="12">
									<el-form-item label="救援车辆">
										<el-select v-model="Workcar" value-key="wid" @change="changeCarMoney" prop="workcarjlid" placeholder="请选择救援车辆">
											<el-option v-for="(workcar,i) in Workcars" :key="workcar.wid" :label="workcar.caid" :value="workcar">
										</el-select>
									</el-form-item>
								</el-col>
								<el-col :span="12">
									<el-form-item label="/公里" prop="lc">
										<el-input v-model="Inststion.lc" :disabled="true" placeholder="/公里"></el-input>
								</el-col>
							</el-row>
							<el-row v-show="isShow1">
								<el-col :span="12">
									<el-form-item label="救援价格/元" prop="lc">
										<el-input v-model="Workcardesc.column1" :disabled="true" placeholder="/元"></el-input>
								</el-col>
							</el-row>
							<el-form-item label="备注">
								<el-input type="textarea" v-model="Inststion.insevent" placeholder="请输入备注"></el-input>
							</el-form-item>
							<el-form-item size="large">
								<el-button type="success" @click="dialogVisible = true">添加维修项</el-button>
								<el-button type="primary" @click="getProjectNum">立即创建</el-button>
								<el-button>取消</el-button>
							</el-form-item>
						</el-form>
					</el-col>
					<!-- 百度地图 -->
					<el-col v-show="isShow1" :span="11" :offset="1">
						<el-row>
							<el-col :span="6">
								<el-input v-model="endaddress" placeholder="请输入终点" />
							</el-col>
							<el-col :span="6" style="margin-left: 15px;">
								<el-button type="primary" @click="BMapLabel">搜索</el-button>
							</el-col>
						</el-row>
						<el-row id="baidudt" :span="24" style="margin-top:10px;height:350px;box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)">

						</el-row>
					</el-col>
				</el-row>
				<el-row>
					<el-dialog title="添加维修项" @open="selectAllByItemstype" :visible.sync="dialogVisible" width="60%" :before-close="handleClose">
						<div>
							<el-form ref="form" label-width="80px" size="mini">
								<el-form-item label="项目类型">
									<el-select v-model="Items" placeholder="请选择项目类型">
										<el-option v-for="(itemstype,i) in Itemstype" :key="itemstype.itemstypeid" :label="itemstype.itemstypename" :value="itemstype.items">
										</el-option>
									</el-select>
								</el-form-item>
							</el-form>
							<template>
								<el-table ref="multipleTable" :data="Items" :row-key="(row) => row.itemsid" @selection-change="handleSelectionChange" stripe style="width: 100%; height=250;">
									<el-table-column type="index" label="序号" width="50">
									</el-table-column>
									<el-table-column prop="itemsname" label="维修项目">
									</el-table-column>
									<el-table-column prop="itemsprice" label="价格">
									</el-table-column>
									<el-table-column prop="itemstime" label="维修时间">
									</el-table-column>
									<el-table-column prop="itemsxh" label="项目介绍">
									</el-table-column>
									<el-table-column type="selection" :reserve-selection="true">
									</el-table-column>
								</el-table>
							</template>
						</div>
						<span slot="footer" class="dialog-footer">
   							 <el-button @click="dialogVisible = false">取 消</el-button>
   							 <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
  						</span>
					</el-dialog>
				</el-row>
				<el-row>
					<template>
						<el-tabs v-model="activeName">
							<el-tab-pane label="维修项目" name="first"></el-tab-pane>
						</el-tabs>
					</template>
				</el-row>
				<el-row>
					<template>
						<el-table :data="Wxxqs" stripe style="width: 100%; height=250;">
							<el-table-column type="index" label="序号">
							</el-table-column>
							<el-table-column prop="xqname" label="维修项目">
							</el-table-column>
							<el-table-column label="数量">
								<template slot-scope="scope">
									<el-input-number v-model="scope.row.xqsl" @change="handleChange(scope.row)" :min="1" :max="10" label="描述文字"></el-input-number>
								</template>
							</el-table-column>
							<el-table-column prop="column1" label="价格">
							</el-table-column>
							<el-table-column label="操作">
								<template slot-scope="scope">
									<el-button size="mini" type="danger" icon="el-icon-delete" @click="deleteWxxqs(scope.$index)" circle></el-button>
								</template>
							</el-table-column>
						</el-table>
					</template>
				</el-row>
			</el-card>
		</div>
	</body>
	<script>
		var zlyZNWX = new Vue({
			el: "#zlyZNWX",
			data: {
				//百度地图对象
				map: "",
				//百度地图属性
				localSearch: "",
				//百度地图终点
				endaddress: "",
				//维修开单
				Inststion: {
					inid: "",
					statusid: "",
					casid: "",
					tid: "",
					workcarjlid: "",
					cno: "",
					izt: "",
					jdate: "",
					jcday: "",
					yjday: "",
					wgday: "",
					iszn: "1",
					lc: "",
					ifjs: "",
					insevent: "",
					zjy: "",
					zrr: "",
					zhgs: "",
					jyjg: 0,
					itemsid: 0
				},
				rules: {
					cno: [{
						required: true,
						message: '请输入车牌号',
						trigger: 'blur'
					}],
					yjday: [{
						required: true,
						message: '请选择预计完工日期',
						trigger: 'change'
					}],
					zjy: [{
						required: true,
						message: '请选择质检员',
						trigger: 'change'
					}],
					workcarjlid: [{
						required: true,
						message: '请选择救援车辆',
						trigger: 'change'
					}],
					zrr: [{
						required: true,
						message: '请输入驾驶人',
						trigger: 'blur'
					}],
					lc: [{
						required: true,
						message: '请选择救援地点',
						trigger: 'change'
					}],
					team: [{
						required: true,
						message: '请选择技班',
						trigger: 'change'
					}]
				},
				//技班
				team: {},
				loading: true,
				dialogVisible: false,
				isShow1: false,
				activeName: "first",
				//班组
				Team: [],
				//救援车辆s
				Workcars: [],
				//救援车辆
				Workcar: {},
				//救援记录
				Workcardesc: {},
				//维修项目类型
				Itemstype: [],
				//维修项目
				Items: [],
				//需要取消的维修项目
				Items1: [],
				//维修详情
				Wxxqs: [],
				messages: []
			},
			mounted() {
				//百度地图
				this.map = new BMap.Map("baidudt"); //创建地图对象
				this.map.centerAndZoom(new BMap.Point(113.115287, 27.909567), 13); //开始地点的经纬度九郎山家园
				this.map.enableScrollWheelZoom(true); //开启鼠标滚轮缩放
				this.map.addControl(new BMap.NavigationControl()); // 添加平移缩放控件  
				this.map.addControl(new BMap.ScaleControl()); // 添加比例尺控件  
				this.map.addControl(new BMap.OverviewMapControl()); //添加缩略地图控件  
				this.localSearch = new BMap.LocalSearch(this.map);
				//查询所有空闲中且班组里技工人数大于0的班组
				let _this = this;
				axios.get(`http://127.0.0.1:8080/DZWWeb/ljy/api/TeamAction/selectAll`).then(function(resp) {
					_this.Team = resp.data;
				});
				//查询所有空闲中的救援车辆				
				axios.get(`http://127.0.0.1:8080/DZWWeb/zly/api/WorkcarAction`).then(function(resp) {
					_this.Workcars = resp.data;
				});
			},
			methods: {
				//根据开始地点与救援地点规划路线计算里程
				BMapLabel() {
						let _this = this;
						var keyword = this.endaddress; //搜索的终点						
						this.localSearch.setSearchCompleteCallback(function(searchResult) {
							var poi = searchResult.getPoi(0);　
							var myP1 = new BMap.Point(113.115287, 27.909567); //开始地点的经纬度九郎山家园			
							var myP2 = new BMap.Point(poi.point.lng, poi.point.lat); //终点传入的经纬度 
							_this.map.clearOverlays(); //清除地图上所有的覆盖物
							var driving = new BMap.DrivingRoute(_this.map); //创建驾车实例  
							driving.search(myP1, myP2);
							driving.setSearchCompleteCallback(function() {
								var pts = driving.getResults().getPlan(0).getRoute(0).getPath(); //通过驾车实例，获得一系列点的数组  
								var polyline = new BMap.Polyline(pts);
								_this.map.addOverlay(polyline);
								//创建2个marker  
								var m1 = new BMap.Marker(myP1);
								var m3 = new BMap.Marker(myP2);
								_this.map.addOverlay(m1);
								_this.map.addOverlay(m3);
								//创建2个label
								var lab1 = new BMap.Label("起点", {
									position: myP1
								});
								var lab2 = new BMap.Label("终点", {
									position: myP2
								});
								_this.map.addOverlay(lab1);
								_this.map.addOverlay(lab2);
								//获取开始地点与救援地点的距离/米
								_this.Inststion.lc = ((BMapLib.GeoUtils.getDistance(myP1, myP2)) / 1000).toFixed(1);
								setTimeout(function() {
									_this.map.setViewport([myP1, myP2]);
									//_thismap.setViewport([myP1,myP2]);//调整到最佳视野  
								}, 1000);
							});
						});
						_this.localSearch.search(keyword);
					},
					// 获取当前日期的方法
					getProjectNum() {
						const projectTime = new Date() // 当前中国标准时间
						const Year = projectTime.getFullYear() // 获取当前年份 支持IE和火狐浏览器.
						const Month = projectTime.getMonth() + 1 // 获取中国区月份
						const Day = projectTime.getDate() // 获取几号
						var CurrentDate = Year
						if (Month >= 10) { // 判断月份和几号是否大于10或者小于10
							CurrentDate += Month
						} else {
							CurrentDate += '0' + Month
						}
						if (Day >= 10) {
							CurrentDate += Day
						} else {
							CurrentDate += '0' + Day
						}
						// 调用获取当前日期的方法加四位随机数  赋值表单中的项目编号 如果是6位或者8位随机数，相应的 *1000000或者 *100000000就行了						
						this.Inststion.inid = Math.floor(CurrentDate + Math.random() * 10000);
						this.insertInststion();
					},
					//查询所有维修项目类型
					selectAllByItemstype() {
						let _this = this;
						axios.get(`http://127.0.0.1:8080/DZWWeb/lp/api/ItemstypeAction/selectAll`).then(function(resp) {
							_this.Itemstype = resp.data;
						});
					},
					//新增维修单
					insertInststion() {
						let _this = this;
						this.Inststion.statusid = this.Inststion.iszn;
						axios.post(`http://127.0.0.1:8080/DZWWeb/zly/api/InststionAction`, this.Inststion).then(function(resp) {
							if (resp.data.code == "200") {
								if (_this.Wxxqs[0] != null) {
									_this.Wxxqs[0].inid = _this.Inststion.inid;
									_this.insertWxxq();
								}
								if (_this.Inststion.iszn == "2") {								
									_this.Workcardesc.inid = _this.Inststion.inid;
									_this.insertWorkcardesc();
									//_this.updateWorkcar();
								}
								_this.$message({
									showClose: true,
									message: '新增维修单成功!',
									type: 'success'
								});
								indexApp.showView("html/zly/weixiukaidan.html");
							} else {
								_this.$message({
									showClose: true,
									message: '新增维修单失败!',
									type: 'error'
								});
							}
						});
					},
					//新增维修详情
					insertWxxq() {
						axios.post(`http://127.0.0.1:8080/DZWWeb/zly/api/WxxqAction`, this.Wxxqs).then(function(resp) {});
					},
					//新增救援记录
					insertWorkcardesc() {
						axios.post(`http://127.0.0.1:8080/DZWWeb/zly/api/WorkcardescAction`, this.Workcardesc).then(function(resp) {});
					},
					//修改救援车辆
					updateWorkcar() {
						axios.post(`http://127.0.0.1:8080/DZWWeb/zly/api/WorkcardescAction`, this.Workcar).then(function(resp) {});
					},
					//关闭模态框
					handleClose(done) {
						this.$confirm('确认关闭？')
							.then(_ => {
								done();
							})
							.catch(_ => {});
					},
					//站外维修信息的显示隐藏
					showZWWXinput() {
						if (this.Inststion.iszn == 1) {
							this.isShow1 = false;
							this.Inststion.lc = "";
							this.Inststion.workcarjlid = "";
							this.endaddress = "";
						} else {
							this.isShow1 = true;
						}
					},
					//复选框勾选事件
					handleSelectionChange(val) {
						this.Wxxqs = [];
						this.Items1 = [];
						let _this = this;
						val.forEach((item, i) => {
							//维修详情对象							
							var Wxxq = {};
							Wxxq["inid"] = "";
							Wxxq["spid"] = item.itemsid;
							Wxxq["xqname"] = item.itemsname;
							Wxxq["xqsl"] = this.Wxxqs[i] == null ? 1 : this.Wxxqs[i].xqsl;
							Wxxq["xmoney"] = item.itemsprice;
							Wxxq["column1"] = this.Wxxqs[i] == null ? item.itemsprice : this.Wxxqs[i].column1;
							_this.Wxxqs.push(Wxxq);
							_this.Items1.push(item);
						});
					},
					//维修详情删除事件
					deleteWxxqs(index) {
						let _this = this;
						this.$nextTick(() => {
							this.$refs.multipleTable.toggleRowSelection(_this.Items1[index], false);
						});
					},
					//数量改变事件
					handleChange(row) {
						row.column1 = row.xqsl * row.xmoney;
					},
					//选择改变技班的工薪
					changeMoney() {
						this.Inststion.itemsid = 0.0;
						let _this = this;
						this.team.artisan.forEach((item, i) => {
							if (item.stars.xmoney == undefined) {
								_this.Inststion.itemsid += parseFloat(_this.team.artisan[i - 1].stars.xmoney);
							} else {
								_this.Inststion.itemsid += parseFloat(item.stars.xmoney);
							}
						});
					},
					//选择改变救援车辆价格事件
					changeCarMoney() {
						this.Inststion.workcarjlid = this.Workcar.wid;
						this.Workcardesc = {
							inid: this.Inststion.inid,
							wid: this.Workcar.wid,
							firstaddress: "九郎山家园",
							endaddress: this.endaddress,
							zgls: this.Inststion.lc,
							column1: parseFloat(this.Inststion.lc) < 20.0 ? (parseFloat(this.Inststion.lc) - 1) * this.Workcar.mglj + parseFloat(this.Workcar.czt) : (parseFloat(this.Inststion.lc) - 21) * this.Workcar.ccglj + 19 * parseFloat(this.Workcar.mglj) + parseFloat(this.Workcar.czt)
						}
					}
			}
		});
	</script>

</html>